{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>commentaire d'un article</title>
{% endblock %}

{% block body %}

   <div class="row">
   <div class="col-5 bg-light p-3">
        <h3>Les commentaires</h3>
       <h3>article  <span style="color: green">{{ article.nom }}</span></h3>
       {% if nb_commentaires.nb_commentaires_total is defined %}  <strong> {{ nb_commentaires.nb_commentaires_total }}</strong> commentaire(s)
           dont {% if nb_commentaires.nb_commentaires_valider is defined %}<strong>
                    {{ nb_commentaires.nb_commentaires_valider }}</strong> commentaire(s) validé(s)
                {% endif %}
        {% else %} Pas de commentaire
       {% endif %}
       <br>Note : {% if article.nb_notes is defined and article.nb_notes >= 0 %} <strong>{{ article.moyenne_notes }}</strong> ( {{ article.nb_notes }} note(s))
       {% else %} Pas de note
       {% endif %}
   </div>
   </div>

   <div class="row">
        <table class="table" style="border: solid #8959A8 1px ">
        {% if commentaires %}
            <thead class="thead-dark">
            <tr>
                <th>nom(pseudo)</th>
                <th>Commentaires</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for commentaire in commentaires %}
                    {% set id_admin = session['id_user'] | int %}
                    {% set id_auteur = commentaire.utilisateur_id | int %}
                    {% set est_valide = commentaire.valider | int %}

                    {% if id_auteur == id_admin %}
                        {% set clr = "#d1e7dd" %}
                    {% elif est_valide == 0 %}
                        {% set clr = "#fff3cd" %}
                    {% else %}
                        {% set clr = "#ffffff" %}
                    {% endif %}

                    <tr>
                        <td style="background-color: {{ clr }} !important;">
                            {{ commentaire.nom }}({{ commentaire.id_utilisateur }})
                        </td>
                        <td style="background-color: {{ clr }} !important;">
                            {% if id_auteur == id_admin %}
                                <span style="color: red">(réponse de l'administrateur du site (webmaster) :</span>
                            {% endif %}
                            {{ commentaire.commentaire }}
                        </td>
                        <td style="background-color: {{ clr }} !important;">
                            <form action="/admin/article/commentaires/delete" style="display: inline-block;" method="post">
                                <input type="hidden" name="id_article" value="{{ commentaire.id_article }}">
                                <input type="hidden" name="id_utilisateur" value="{{ commentaire.id_utilisateur }}">
                                <input type="hidden" name="date_publication" value="{{ commentaire.date_publication }}">
                                <button class="btn btn-primary"> supprimer </button>
                            </form>

                            {% if id_auteur != id_admin %}
                                <form action="/admin/article/commentaires/repondre" style="display: inline-block;" method="GET">
                                    <input type="hidden" name="id_article" value="{{ commentaire.id_article }}">
                                    <input type="hidden" name="id_utilisateur" value="{{ commentaire.id_utilisateur }}">
                                    <input type="hidden" name="date_publication" value="{{ commentaire.date_publication }}">
                                    <button class="btn btn-primary"> répondre </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <tbody>
                <tr class="table-warning"><td>Pas de commentaire</td><td></td></tr>
            </tbody>
        {% endif %}
        </table>
       <a class="btn btn-primary m-4 col-2" href="/admin/article/commentaires/valider?id_article={{ article.id_article }}">valider les commenaires</a>
       <a class="btn btn-outline-primary btn-lg" href="/admin/article/show">Retour vers la page d'accueil</a>
    </div>

{% endblock %}